Adafruit-Blinka==3.3.4
adafruit-circuitpython-busdevice==4.1.1
adafruit-circuitpython-mcp3xxx==1.1.2
Adafruit-PlatformDetect==1.3.8
Adafruit-PureIO==1.0.4
beautifulsoup4==4.7.1
Flask==1.1.1
Flask-RESTful==0.3.7
MarkupSafe==1.1.1
marshmallow==3.0.0b14
numpy
pandas
picamera==1.13
Pillow==5.4.1
pyserial==3.4
pytest==3.10.1
requests
rpi-ws281x==4.2.2
RPi.GPIO==0.7.0
scikit-learn
Werkzeug==0.16.0
