body {
     font-family: helvetica, arial, sans-serif;
}

table {
     border: solid 1px #DDEEEE;
     border-spacing: 2px;
     padding:10px;
     margin: 0 auto;
     table-layout:fixed;
     margin-left:10%;
}

.atag-text {
   white-space:pre-wrap;
   word-wrap:break-all;
   text-align:left;
}

#playback-title {
   word-wrap:break-word;
}

/* to have bullet points in table tag */
p {
       display:list-item;
       list-style:disc inside;
       padding:0 0 0 10px;
       margin:0;
       text-align:left;
}

.ctr-title {
     align-items: center;
       justify-content: center;
         text-align:center;
}

.column {
     float: left;
       width: 50%;
         align-items: center;
           justify-content: center;
             text-align:center;
}

.container {
     position:relative;
       min-height:80%;
         border:2px solid #EEEEEE;
           overflow:hidden;
}

.list-space {
     margin:4px;
       padding:5px;
}

#input-div {
  font-size: 16px;
  margin-left:38%;
}

#flash-msg {
  margin-left: 15%;
}

/* change bootstrap container width */
@media (min-width: 1600px) {
       .container{
                  max-width: 2000px;
                      }
}
